<table style="width: 600;font-size: 10;"><tr><td style="text-align: left;width: 400;">Confidential</td><td style="text-align: left;width: 200;">BP. No. %1s</td></tr></table>
<h2 style="color:#000; text-align:center; font-weight:bold;font-size: 14; padding:30px 0;margin-top: 80px">EAST AFRICAN DEVELOPMENT BANK</h2>
<h3 style="text-align:center; font-weight:bold; padding:20px 0;">%2s</h3>
<p style="text-align:center; padding:20px 0; font-size:16px;">%3s</p>
<h3 style="text-align:center; padding:30px 0;margin-bottom: 300">CONCEPT NOTE</h3>
<table border="0" style="border:0;width: 600;margin-top: 400;font-size: 10;text-align: left;">
    <tr>
        <td colspan="2" style="font-weight:bold;padding: 20;">PROJECT TEAM:</td>
    </tr>
    %4s
    <tr>
        <td colspan="2" style="padding-top: 20;">Date: %5s</td>
    </tr>
</table>