<table border="1" width="100%" style="width: 100%;border-collapse: collapse;border-color: #000000;padding-top: 100;font-size: 10;" >
<tbody>
<tr>
    <td nowrap="nowrap" style="width:50;font-weight: bold;text-align: left;">1.</td>
    <td nowrap="nowrap" style="width:50;font-weight: bold;text-align: left;">PARTIES</td>
    <td nowrap="nowrap" style="width:250;font-weight:bold;text-align: center;"></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;text-align: left">1.1.</td>
    <td nowrap="nowrap" style="width:100;text-align: left">Lender:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">East African Development Bank ("EADB" or the "Bank")</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">1.2.</td>
    <td nowrap="nowrap" style="width:100;">Borrower:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Name of Company] (the "Borrower")</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">1.3.</td>
    <td nowrap="nowrap" style="width:100;">Shareholders:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input Shareholder Table]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">1.4.</td>
    <td nowrap="nowrap" style="width:100;">Others:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input D7]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;font-weight: bold;">2</td>
    <td nowrap="nowrap" style="width:100;font-weight: bold;">FACILITY</td>
    <td nowrap="nowrap" style="width:250;"></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">2.1.</td>
    <td nowrap="nowrap" style="width:100;">Currency:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input Currency from D12]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">2.2.</p></td>
    <td nowrap="nowrap" style="width:100;">Amount:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input Amount from D12]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">2.3.</td>
    <td nowrap="nowrap" style="width:100;">Type of Loan: </td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input Type of Loan from D12]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">2.4.</td>
    <td nowrap="nowrap" style="width:100;">Purpose of the Facility:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input Facility Purpose from D12]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">2.5.</td>
    <td nowrap="nowrap" style="width:100;">Minimum Amount of Facility:</div></td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D12]</td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;font-weight: bold;">3</td>
    <td nowrap="nowrap" style="width:100;font-weight: bold;">PRICING</td>
    <td nowrap="nowrap" style="width:250;"></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">3.1.</td>
    <td nowrap="nowrap" style="width:100;">Interest Rate </td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D12]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">3.2.</p></td>
    <td nowrap="nowrap" style="width:100;">Default Interest Rate:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D12]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">3.3.</td>
    <td nowrap="nowrap" style="width:100;">Appraisal Fee & Commission:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D12]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">3.4.</td>
    <td nowrap="nowrap" style="width:100;">Waiver Fee:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D12]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">3.5.</p></td>
    <td nowrap="nowrap" style="width:100;">Commitment Fee:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D12]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">3.6.</td>
    <td nowrap="nowrap" style="width:100;">Loan Monitoring & Management fees:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D12]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;font-weight: bold;">4</td>
    <td nowrap="nowrap" style="width:100;font-weight: bold;">REPAYMENT, PREPAYMENT AND CANCELLATION</td>
    <td nowrap="nowrap" style="width:250;"></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">4.1.</td>
    <td nowrap="nowrap" style="width:100;">Interest Payment:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D12]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">4.2.</p></td>
    <td nowrap="nowrap" style="width:100;">Maturity/Loan Repayments:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D12]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">4.3.</td>
    <td nowrap="nowrap" style="width:100;">Voluntary Prepayment:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D12]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">4.4.</td>
    <td nowrap="nowrap" style="width:100;">Mandatory Prepayment:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D12]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">4.5.</p></td>
    <td nowrap="nowrap" style="width:100;">Credit Worthiness</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D12]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">4.6.</td>
    <td nowrap="nowrap" style="width:100;">Cancellation:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D12]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">4.7.</td>
    <td nowrap="nowrap" style="width:100;">Application of Prepayments:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D12]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">4.8.</p></td>
    <td nowrap="nowrap" style="width:100;">Other Facility Modalities:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D12]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;font-weight: bold;">5</td>
    <td nowrap="nowrap" style="width:100;font-weight: bold;">CONDITIONS PRECEDENT TO DISBURSEMENT</td>
    <td nowrap="nowrap" style="width:250;"></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">5.1.</td>
    <td nowrap="nowrap" style="width:100;">Preconditions of Disbursement:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D13]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">5.2.</td>
    <td nowrap="nowrap" style="width:100;">Procurement of Goods:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D13]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">5.3.</td>
    <td nowrap="nowrap" style="width:100;">Insurance</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D13]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">5.4.</td>
    <td nowrap="nowrap" style="width:100;">Other Conditions</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D13]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;font-weight: bold;">6</td>
    <td nowrap="nowrap" style="width:100;font-weight: bold;">SECURITY</td>
    <td nowrap="nowrap" style="width:250;"></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">6.1.</td>
    <td nowrap="nowrap" style="width:100;">Security: </td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D14]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;font-weight: bold;">7</td>
    <td nowrap="nowrap" style="width:100;font-weight: bold;">REPRESENTATIONS AND WARRANTIES, CONVENANTS AND EVENTS OF DEFAULT</td>
    <td nowrap="nowrap" style="width:250;"></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">7.1.</td>
    <td nowrap="nowrap" style="width:100;">Representations and Warranties:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D15]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">7.2.</td>
    <td nowrap="nowrap" style="width:100;">Information Undertakings:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D15]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">7.3.</td>
    <td nowrap="nowrap" style="width:100;">Financial Covenants:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D15]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">7.4.</td>
    <td nowrap="nowrap" style="width:100;">General Undertakings:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D15]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">7.5.</td>
    <td nowrap="nowrap" style="width:100;">Events of Default:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D15]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;font-weight: bold;">8</td>
    <td nowrap="nowrap" style="width:100;font-weight: bold;">OTHER PROVISIONS</td>
    <td nowrap="nowrap" style="width:250;"></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">8.1.</td>
    <td nowrap="nowrap" style="width:100;">Special Audit:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D16]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">8.2.</td>
    <td nowrap="nowrap" style="width:100;">Legal Documentation:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D16]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">8.3.</td>
    <td nowrap="nowrap" style="width:100;">Costs and Expenses: </td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D16]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">8.4.</td>
    <td nowrap="nowrap" style="width:100;">Applicable Law:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D16]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">8.5.</td>
    <td nowrap="nowrap" style="width:100;">Dispute Resolution:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D16]</div></td>
</tr>
<tr>
    <td nowrap="nowrap" style="width:50;">8.6.</td>
    <td nowrap="nowrap" style="width:100;">Others:</td>
    <td nowrap="nowrap" style="width:250;"><div style="color:red;font-style: italic;">[Input from D16]</div></td>
</tr>
</tbody>
</table>
<div style="font-size: 10;">
    <p style="text-align: justify;margin-bottom: 100;">We on behalf of [Company Name] confirm that this Indicative Term Sheet reflects the understanding as at the date hereof and serves to facilitate further processing of the proposed Bank financial assistance, but is not legally binding on the parties hereto. We accept the terms outlined above and we request EADB to commence appraisal of our project. We enclose our Cheque No. .................................... for <span style="font-style:italic;">[enter manually amount of appraisal fee]</span> being <span style="color:red;font-style:italic;">[appraisal fee in %]</span> deposit of the appraisal fees.</p>
    <table style="width:100%;">
        <tr>
            <td>Signed: ...............................................................</td>
            <td>...............................................................</td>
        </tr>
        <tr style="text-align: center;">
            <td><p>DIRECTOR</p></td>
            <td><p>DATE</p></td>
        </tr>
    </table>
    <table style="width:100%;">
        <tr>
            <td>Signed: ...............................................................</td>
            <td>...............................................................</td>
        </tr>
        <tr style="text-align: center;margin-top: 100">
            <td><p>DIRECTOR/SECRETARY</p></td>
            <td><p>DATE</p></td>
        </tr>
    </table>
</div>