<table style="width: 100%;font-size:10;padding-top: 100;"><tr><td style="text-align: left"><span style="font-weight: bold;">Our Ref:</span> [Reference Number]</td><td style="text-align: right">[Date]</td></tr></table>
<div style="font-size: 10;">
    <p style="padding:10 0 15 0;font-size:10;">[Full Address Company]</p>
    <p>Dear Madam/Sir,</p>
    <p style="font-weight:bold;">RE: INDICATIVE TERM SHEET FOR THE PROJECT [Project Name] of up to [Loan Amount]</p>
    <p>We refer to your application for a facility of [loan amount] to [enter manually the purpose of the facility].</p>
    <p>We wish to inform you that following a preliminary review of your project, the bank is, in principle, ready to embark on the detailed appraisal of the project.</p>
    <p>Enclosed herewith is an indicative term sheet for the proposed facility. To signify your acceptance of the indicative terms, please sign and return to us one (1) copy of the same and arrange to pay not later than five (5) working days after the date hereof, the [appraisal fee] appraisal fee in the amount of [enter manually the amount of the appraisal fee] to enable us embark on the detailed appraisal. </p>
    <p>Please note that this is not an offer for a loan. The decision to provide a loan facility will be subject to the outcome of the detailed appraisal and approval by the Bank`s management.</p>
    <p style="margin:0">Yours sincerely</p>
    <p style="font-weight:bold;margin:0;padding-bottom:40;">EAST AFRICAN DEVELOPMENT BANK</p>
</div>
<table style="width: 100%;font-size: 10">
    <tr><td>[Name of Head of Country] </td><td>[Enter Name of Legal Officer]</td></tr>
    <tr style="font-weight: bold;text-decoration: underline;"><td>HEAD OF COUNTRY BUSINESS, [Country]</td><td>LEGAL OFFICER</td></tr>
</table>
<div style="text-align:center;font-size: 10">
    <h3 style="font-size:20;font-weight:bold;text-align:center;;padding-top: 650;">`SUBJECT TO CONTRACT`</h3>
    <h3 style="font-size: 16;">CONFIDENTIAL</h3>
    <p style="font-size: 12;">[Name of Project]</p>
    <h3 style="font-size: 16;">INDICATIVE FACILITY TERM SHEET</h3>
    <p style="text-decoration: underline;font-weight: bold;line-height: 1.5">INDICATIVE TERM SHEET FOR A SECURED TERM LOAN OF UP TO UGX 5 BILLION FOR THE CONSTRUCTION OF GRAIN PROCESSING FACILITY AT MUBENDE AND WORKING CAPITAL LOAN OF UPTO UGX 7 BILLION.</p>
</div>
<div style="font-style: italic;font-size: 10;line-height: 1.5;text-align: justify;">
    <p>The following indicative terms and conditions have been prepared for the sole purpose of serving as a basis for discussion of the East African Development Bank`s (the Bank or EADB) principal investment terms and conditions, if the Bank were to extend a Loan to [Company Name]. All figures, terms and conditions are subject to change.</p>
    <p>These terms and conditions are not therefore, an offer and do not represent a commitment on the part of the Bank to extend a Loan from the Bank or to a extend Loan on these terms and do not have precedence over an eventual Loan agreement. EADB`s decision to extend any financing is subject to the approval of EADB Management and its Board of Directors, as well as the entry into force of all the finance and project documents, and fulfilment of all conditions, including, without limitation, technical and legal. Moreover, EADB reserves the right to terminate discussions on the facility at any time during the appraisal period and shall not be obliged to assign reasons for doing so.</p>
    <p>Nothing in this Term Sheet shall be construed as a waiver, renunciation or other modification of any immunities, privileges or exemptions of the Bank accorded under the Charter and Treaty Establishing the East African Development Bank (as the same may be amended and/or re-enacted from time to time), any headquarters or host country agreement, international conventions or other applicable law. The property, assets and archives of the Bank and all documents belonging to it, or held by it, shall be inviolable wherever located.</p>
    <p>Neither the present term sheet, nor the investment conditions, can be communicated to third parties without the prior written consent of the Bank.</p>
</div>