<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Q-Lana | CKMT</title>

</head>

<body>
<table style="width:640px; background-color:#fff; margin:0 auto; text-align:left; font-family:arial;">
    <tr>
        <td style="line-height:0;text-align: left;"><img src="{web_base_url}/email_template/bank_of_kigali.jpg" alt="Logo"/>
        </td>
    </tr>
    <tr>
        <td style="padding:10px 0">
            <p style="font-size:17px">{message}</p>
        </td>
    <tr>
        <td style="border-top:1px solid #d9d9d9; font-size:12px">
            {mail_footer}
        </td>
    </tr>
    </tr>

</table>
</body>
</html>

