<table style="width: 600;font-size:11;"><tr><td style="text-align: left"><span style="font-weight: bold;">Our Ref:</span> [Reference Number]</td><td style="text-align: right">[Date]</td></tr></table>
<div style="font-size: 11;">
    <p style="padding: 0;text-align: right;font-weight: bold;">"SUBJECT TO CONTRACT"</p>
    <p style="padding-bottom:15;">[Full Address Company]</p>
    <p>Dear Sirs,</p>
    <p style="font-weight:bold;">RE: APPROVAL OF FINANCING</p>
    <p>We are pleased to inform you that the East African Development Bank has approved your application for a [type of facility] for the project described in outline below on the basis of terms and conditions outlined in this letter. These will form the basis for the transaction documentation but should not be considered exhaustive.</p>
    <p style="margin-bottom: 60;">The approval is subject to completion of all outstanding due diligence and negotiation and execution of appropriate legal documentation on terms satisfactory to the Bank.</p>
</div>
<ol style="font-weight: bold;">
    <li style="margin-bottom: 400;">Project Concept<br/>
        <span style="font-weight: normal">[D3 Project Concept]</span>
    </li>
    <li>Outline Terms and conditions<br/>
        <table border="1" width="600" style="float: right;width: 600;border-collapse: collapse;font-size: 11;font-weight: bold;">
            <tbody>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">1.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Borrower:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Name of Company] (the "Borrower")</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">2.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Bank:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">East African Development Bank ("EADB" or the "Bank")</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">3.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Currency:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input Currency from D12]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">4.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Facility:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input Type of Loan from D12]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">5.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Amount:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input Amount from D12]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">6.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Purpose of Loan</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input Facility Purpose from D12]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">7.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Availability Period and Project Completion Date</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D12 Maturity]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">8.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Interest Rate:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D12]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">9.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Interest accrual:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">Interest is accrued and calculated on the basis of a 360 days year and the number of days elapsed.</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">10.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Repayment Period:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D12 Maturity]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">11.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Loan Repayments:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D12]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">12.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Commitment Fee:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D12]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">13.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Prepayment:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D12]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">14.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Appraisal fee:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D12]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">15.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Loan Management Fee:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D12]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">16.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Cancellation Fee:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D12]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">17.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Waiver Fee:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D12]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">18.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Default Interest:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D12]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">19.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Disbursement of Funds:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D20 Procurement and Disbursement]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">20.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Security:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D14]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">21.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Debt Service Reserve Account Agreement:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D16]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">22.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Deed of Subordination:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">All loans from any of the shareholders or directors of the Borrower will be subordinated to the claims of the Bank under the finance documents.</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">23.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Conditions Precedent:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D13 Preconditions]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">24.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Insurance:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D13]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">25.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Reporting Obligations:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D16]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">26.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Procurement of Goods and Services:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D13]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">27.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Board of Directors Representation:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D16]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">28.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Representations and Warranties:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D15]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">29.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Covenants of the Borrower:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D15]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">30.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Events of Default:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D15]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">31.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Special Audit:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D16]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">32.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Legal Documentation:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D16]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">33.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Legal Opinions:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D16]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">34.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Costs and expenses:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D16]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">35.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Governing law and Dispute resolution:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;border-style: dotted;">
                    All legal documents to be executed shall be governed by the [country] Law.<br/>
                    Dispute resolution shall be by way of mediation under London Court of International Arbitration (`LCIA`) Mediation Rules.<br/>
                    All documentation, correspondence, invoices, receipts and all forms of communication shall be undertaken in the English Language.
                </td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">36.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">No Waiver of Privileges and Immunities:</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D12]</td>
            </tr>
            <tr>
                <td nowrap="nowrap" style="width:40;border-style: dotted;">37.</td>
                <td nowrap="nowrap" style="width:60;border-style: dotted;">Others</td>
                <td nowrap="nowrap" style="width:250;font-weight: normal;text-align: center;border-style: dotted;">[Input from D24]</td>
            </tr>
            </tbody>
        </table>
    </li>
</ol>
<div style="font-size: 11;">
    <p>In the event of a conflict between the terms of this Letter of Offer and any other Agreement between the Bank and the Borrower including the Indicative Term Sheet signed on the [input manually date],  the terms of this Letter of Offer shall prevail.</p>
    <p style="margin-bottom: 40">Please indicate your acceptance of the above terms by signing and returning to us a copy of this letter within five (5) business days of the date hereof.  Failure to do so will result in the above offer lapsing automatically and the entire appraisal fee forfeited.</p>
    <p style="margin-top: 0;margin-bottom: 10">Yours faithfully,<br>
        <span style="font-weight:bold;">EAST AFRICAN DEVELOPMENT BANK</span>
    </p>
    <table width="600" style="width: 600;">
        <tr>
            <td nowrap="nowrap" style="width:300;">[Input Country Manager Name]</td>
            <td nowrap="nowrap" style="width:300;">[Input Principal Legal Officer]</td>
        </tr>
        <tr style="font-weight: bold;">
            <td nowrap="nowrap" style="width:300;">COUNTRY MANAGER (UGANDA)</td>
            <td nowrap="nowrap" style="width:300;">PRINCIPAL LEGAL OFFICER</td>
        </tr>
        <tr>
            <td colspan="2">
                <table width="200" style="width: 200;">
                    <tr>
                        <td nowrap="nowrap" style="width:40;vertical-align: top;">cc:</td>
                        <td nowrap="nowrap" style="width:160;">Finance Manager,<br/>EADB, <span style="font-weight: bold">KAMPALA</span></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width: 100%;border-top: 3 double #000000;margin: 0;padding: 0;border-spacing: 1;">

            </td>
        </tr>
    </table>
</div>
<div style="width:100%;text-decoration: underline;text-align: center;font-weight: bold;font-size: 11;">ACKNOWLEDGEMENT</div>
<p style="font-size: 11;line-height: 1.5;">We, (1).............................................................................................................. and (2)
    .............................................................................................................. DULY AUTHORISED on behalf of [Company Name]  hereby accept the terms and conditions of the Term Loan as provided above.
</p><table width="600" style="width: 600;">
    <tr>
        <td nowrap="nowrap" style="width:300;padding-top: 10">------------------------------------------------</td>
        <td nowrap="nowrap" style="width:50;">}</td>
        <td nowrap="nowrap" style="width:250;"></td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:300"></td>
        <td nowrap="nowrap" style="width:50">}</td>
        <td nowrap="nowrap" style="width:250;">Authorized Signatories</td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:300;padding-top: 10">------------------------------------------------</td>
        <td nowrap="nowrap" style="width:50;">}</td>
        <td nowrap="nowrap" style="width:250;"></td>
    </tr>
</table>