<table border="1" width="650" style="width: 600;border-collapse: collapse;border-color: #000000;margin-top: 10px;font-size:10;text-align: left;" >
    <tbody>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;font-weight: bold;text-align: left;">1.</td>
        <td nowrap="nowrap" style="width:50px;height:17px;font-weight: bold;text-align: left;">SUMMARY OF THE PROPOSAL</td>
        <td nowrap="nowrap" style="width:250px;height:17px;font-weight:bold;text-align: center;"></td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;text-align: left">1.1.</td>
        <td nowrap="nowrap" style="width:100px;height:17px;text-align: left">Statement of the Application</td>
        <td nowrap="nowrap" style="width:250px;height:17px;">%1s</td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;">1.2.</td>
        <td nowrap="nowrap" style="width:100px;height:17px;">Project Background Information</td>
        <td nowrap="nowrap" style="width:250px;height:17px;">%2s</td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;">1.3.</td>
        <td nowrap="nowrap" style="width:100px;height:17px;">Rationale of the Client to apply</td>
        <td nowrap="nowrap" style="width:250px;height:17px;">%3s</td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;">1.4.</td>
        <td nowrap="nowrap" style="width:100px;height:17px;">Project Concept & Scope</td>
        <td nowrap="nowrap" style="width:250px;height:17px;">%4s</td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;">1.5.</td>
        <td nowrap="nowrap" style="width:100px;height:17px;">Expected Economic Benefit and Additionalities</td>
        <td nowrap="nowrap" style="width:250px;height:17px;">%5s</td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;font-weight: bold;">2</td>
        <td nowrap="nowrap" style="width:100px;height:17px;font-weight: bold;">PROJECT AND COMPANY ASSESSMENT</td>
        <td nowrap="nowrap" style="width:250px;height:17px;"></td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;">2.1.</td>
        <td nowrap="nowrap" style="width:100px;height:17px;">Shareholder Structure</td>
        <td nowrap="nowrap" style="width:250px;height:17px;">%6s</td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;">2.2.</td>
        <td nowrap="nowrap" style="width:100px;height:17px;">Sponsors and Promoters</td>
        <td nowrap="nowrap" style="width:250px;height:17px;">%7s</td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;">2.3.</td>
        <td nowrap="nowrap" style="width:100px;height:17px;">Products / Operations</td>
        <td nowrap="nowrap" style="width:250px;height:17px;">%8s</td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;">2.4.</td>
        <td nowrap="nowrap" style="width:100px;height:17px;">Markets</td>
        <td nowrap="nowrap" style="width:250px;height:17px;">%9s</td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;">2.5.</td>
        <td nowrap="nowrap" style="width:100px;height:17px;">Environmental and Social Considerations</td>
        <td nowrap="nowrap" style="width:250px;height:17px;">%10s</td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;">2.6.</td>
        <td nowrap="nowrap" style="width:100px;height:17px;">Financial Aspects</td>
        <td nowrap="nowrap" style="width:250px;height:17px;">%11s</td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;font-weight: bold;">3</td>
        <td nowrap="nowrap" style="width:100px;height:17px;font-weight: bold;">RISK ASSESSMENT</td>
        <td nowrap="nowrap" style="width:250px;height:17px;"></td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;">3.1.</td>
        <td nowrap="nowrap" style="width:100px;height:17px;">Risk Grading</td>
        <td nowrap="nowrap" style="width:250px;height:17px;">%12s</td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;">3.2.</td>
        <td nowrap="nowrap" style="width:100px;height:17px;">Risk Factor</td>
        <td nowrap="nowrap" style="width:250px;height:17px;">%13s</td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;">3.3.</td>
        <td nowrap="nowrap" style="width:100px;height:17px;">Comments on Risk Assessment</td>
        <td nowrap="nowrap" style="width:250px;height:17px;">%14s</td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;font-weight: bold;">4</td>
        <td nowrap="nowrap" style="width:100px;height:17px;font-weight: bold;">COMMENTS AND OBSERVATIONS</td>
        <td nowrap="nowrap" style="width:250px;height:17px;"></td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;">4.1.</td>
        <td nowrap="nowrap" style="width:100px;height:17px;">Strengths and Weaknesses Analysis</td>
        <td nowrap="nowrap" style="width:250px;height:17px;">%15s</td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;">4.2.</td>
        <td nowrap="nowrap" style="width:100px;height:17px;">Credit Worthiness</td>
        <td nowrap="nowrap" style="width:250px;height:17px;">%16s</td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;">4.3.</td>
        <td nowrap="nowrap" style="width:100px;height:17px;">Short Character Assessment</td>
        <td nowrap="nowrap" style="width:250px;height:17px;">%17s</td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;font-weight: bold;">5</td>
        <td nowrap="nowrap" style="width:100px;height:17px;font-weight: bold;">RECOMMENDATIONS</td>
        <td nowrap="nowrap" style="width:250px;height:17px;"></td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;">5.1.</td>
        <td nowrap="nowrap" style="width:100px;height:17px;">Recommendations</td>
        <td nowrap="nowrap" style="width:250px;height:17px;">%18s</td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;font-weight: bold;">6</td>
        <td nowrap="nowrap" style="width:100px;height:17px;font-weight: bold;">OTHERS</td>
        <td nowrap="nowrap" style="width:250px;height:17px;"></td>
    </tr>
    <tr>
        <td nowrap="nowrap" style="width:50px;height:17px;">6.1.</td>
        <td nowrap="nowrap" style="width:100px;height:17px;">Others</td>
        <td nowrap="nowrap" style="width:250px;height:17px;">%19s</td>
    </tr>
    </tbody>
</table>