<table border="1" width="650" style="width: 600;border-collapse: collapse;border-color: #000000;margin-top: 10px;font-size: 10;text-align: left;" >
    <tbody>
        <tr>
            <td nowrap="nowrap" style="width:50px;height:17px;font-weight: bold;text-align: left;">1.</td>
            <td nowrap="nowrap" style="width:50px;height:17px;font-weight: bold;text-align: left;">SUPERVISION REPORT</td>
            <td nowrap="nowrap" style="width:250px;height:17px;font-weight:bold;text-align: center;"></td>
        </tr>
        <tr>
            <td nowrap="nowrap" style="width:50px;height:17px;text-align: left">1.1.</td>
            <td nowrap="nowrap" style="width:100px;height:17px;text-align: left">Supervision Report</td>
            <td nowrap="nowrap" style="width:250px;height:17px;">
                <table width="350" style="width: 300;border-collapse: collapse;margin-top: 10px;font-size: 10;text-align: left;" >
                    <tr>
                        <td nowrap="nowrap" style="width:50px;height:17px;font-weight: bold;">Introduction</td>
                        <td nowrap="nowrap" style="width:250px;height:17px;">%1s</td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap" style="width:50px;height:17px;font-weight: bold;">Missing Findings</td>
                        <td nowrap="nowrap" style="width:250px;height:17px;">%2s</td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap" style="width:50px;height:17px;font-weight: bold;">Proposed Action Plan</td>
                        <td nowrap="nowrap" style="width:250px;height:17px;">%3s</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td nowrap="nowrap" style="width:50px;height:17px;font-weight: bold;">2</td>
            <td nowrap="nowrap" style="width:100px;height:17px;font-weight: bold;">PICTURES</td>
            <td nowrap="nowrap" style="width:250px;height:17px;"></td>
        </tr>
        <tr>
            <td nowrap="nowrap" style="width:50px;height:17px;">2.1.</td>
            <td nowrap="nowrap" style="width:100px;height:17px;">Pictures of Supervision Visit</td>
            <td nowrap="nowrap" style="width:250px;height:17px;">%4s</td>
        </tr>
    </tbody>
</table>